<!DOCTYPE html>
<html lang='en'>
<head>
<meta charset ='UTF_8'>
<meta name='viewport' content='width=device-width,initial-scale=1.0'>
<title>Paypal node app</title>
</head>
<body>
<h1> Books</h1>
<h2>buy for $25</h2>
<form action ='/pay' method='post'>
<input type='submit' value='Buy'/>
</form>
</body>
</html>